{
    "tabWidth": 4,
    "printWidth": 80,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "tailwindConfig": "./tailwind.config.js",
    "tailwindFunctions": ["cx"],
    "trailingComma": "es5"
}
