@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .desktop-sidebar {
        display: none;
    }

    .mobile-drawer {
        display: block;
    }

    .mobile-menu-button {
        display: flex;
    }

    #mobile-drawer-toggle:checked ~ .mobile-drawer {
        transform: translateX(0);
    }
}

@media (min-width: 769px) {
    .mobile-drawer,
    .mobile-menu-button {
        display: none;
    }
}

body.scroll-locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
}

.logoutButton {
    width: 100% !important;
    background-color: var(--red-2) !important;
    border-radius: var(--radius-6) !important;
}
