@tailwind base;
@tailwind components;
@tailwind utilities;

body.scroll-locked {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0px);
}

@keyframes modal-animation {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes modal-shader-animation {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 0.4;
        backdrop-filter: blur(4px);
    }
}

@keyframes dashboard-menu-animation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes dashboard-menu-exit {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes overlay-fade-in {
    from {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
    to {
        opacity: 0.4;
        backdrop-filter: blur(4px);
    }
}

@keyframes overlay-fade-out {
    from {
        opacity: 0.4;
        backdrop-filter: blur(4px);
    }
    to {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}
